#blog_item {
	max-width: 800px;
	margin: 20px auto;
	background-color: rgba(255, 255, 255, 0.5);
	border: 1px solid black;
	box-shadow: 0 10px 50px 10px #bbb;
	border-radius: 50px;
	padding: 20px;

}

#blog_item h2 {
	text-align: center;
}

.blog .blog-content {
	display: none;
}

.blog img {
	max-width: 250px;
	margin-right: 1rem;
	border-radius: 50px;
}

.blog a {
	color: blue;
}

.blog a:hover {
	cursor: pointer;
	text-decoration: underline;
}

#modal .blog-content {
	background-color: rgba(255, 255, 255, 0.5);
	max-width: 800px;

}
