form{
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 20px;
}
fieldset{
	border: none;
}
form legend{
	text-align: center;
	font-size: 2.5rem;
}
form fieldset label{
	display: inline-block;
	width: 200px;
	margin: 1rem;
	font-size: 2rem;

}
form fieldset input{
	width: 60%;
	height: 2rem;
	margin-top: 1rem;
}
form fieldset textarea{
	font-size: 1rem;
	min-width: 60%;
	max-width: 60%;
	min-height: 10rem;
	margin: 1rem 0;
}

#text{
	vertical-align: top;
}
.button__post{
	margin: 2rem;
	float: right;
	margin-top: 2rem;
	font-size: 2rem;
	border-radius: 20px;
}
.button__post:hover{
	transform: scale(1.2);
	cursor: pointer;
	background: linear-gradient(to bottom left, #383838, #ebebeb);
}

input.error,
textarea.error{
	border: 2px solid red;
}
Label.error{
	font-size: 1rem;
	color: red;
	margin: 0;
	margin-left: 30%;
}