.slider_one_item{
	padding-top: 38%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size:contain;
}
.slider_one_item.one{
	background-image: url(../picture/Gallery/2012/1.JPG);
}
.slider_one_item.two{
	background-image: url(../picture/Gallery/2012/2.jpg);
}
.slider_one_item.three{
	background-image: url(../picture/Gallery/2012/3.jpg);
}
.slider_one_item.four{
	background-image: url(../picture/Gallery/2012/4.jpg);
}
.slider_one_item.five{
	background-image: url(../picture/Gallery/2012/5.jpg);
}
.owl-carousel .owl-next{
	background-color: rgba(105, 106, 109, 0.8);
	display: inline-block;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: 0;
	right: 0;
	width: 16.3%;
	text-align: center;
}
.owl-carousel .owl-prev{
	background-color: rgba(105, 106, 109, 0.8);
	display: inline-block;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: 0;
	left: 0;
	width: 16.3%;
	text-align: center;
}
.owl-carousel .owl-nav{
	display: block;
}
.slider_one .owl-dot span{
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 1rem;
	height: 1rem;
	display: block;
}
.slider_one .owl-dot{
	display: inline-block;
	margin: 0 1rem;
}
.slider_one .owl-dots{
	text-align: center;
	position: absolute;
	bottom: 0.5rem;
	left: 0;
	right: 0;
}
.slider_one .owl-dot.active span{
	background-color: #000;
}
.slider_one .owl-dot:hover span{
	transform: scale(1.5);
}